Package: SerialLoops
Version: #VERSION#
Section: custom
Priority: optional
Architecture: all
Essential: no
Depends: libopenal-dev, make, dotnet-sdk-8.0
Maintainer: The Haroohie Translation Club <haroohietranslation@gmail.com>
Homepage: https://haroohie.club/chokurestu/serial-loops/
Description: Editor for Suzumiya Haruhi no Chokuretsu
