trigger:
  branches:
    include:
      - main
pr: none

variables:
  - group: SerialLoopsPublic

jobs:
- job:
  displayName: UI Tests (macOS)
  pool:
    vmImage: macOS-latest
  steps:
  - checkout: self
    clean: true
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: $(Build.SourcesDirectory)/src/SerialLoops.Mac/SerialLoops.Mac.csproj
    displayName: Build SerialLoops.Mac
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: $(Build.SourcesDirectory)/test/ui/SerialLoops.Mac.Tests/SerialLoops.Mac.Tests.csproj
    displayName: Build SerialLoops.Mac.Tests
  - pwsh: |
      mkdir $env:AGENT_BUILDDIRECTORY/devkitpro
      Invoke-WebRequest -Uri $env:DOWNLOAD_URI -OutFile devkitpro.zip
      Expand-Archive -Path devkitpro.zip -DestinationPath $env:AGENT_BUILDDIRECTORY/devkitpro
    displayName: Bootstrap devkitARM
    env:
      DOWNLOAD_URI: $(DevkitARMUri)
  - script: |
      export DEVKITARM=$AGENT_BUILDDIRECTORY/devkitpro/devkitARM
      npm i -g appium
      appium driver install mac2
    displayName: Install and Run Appium Driver
  - task: DotNetCoreCLI@2
    displayName: Run macOS UI tests
    inputs:
      command: 'test'
      projects: $(Build.SourcesDirectory)/test/ui/SerialLoops.Mac.Tests/SerialLoops.Mac.Tests.csproj
    env:
      APP_LOCATION: "$(Build.SourcesDirectory)/src/SerialLoops.Mac/bin/Debug/net8.0/Serial Loops.app"
      PROJECT_NAME: MacUITest
      ROM_URI: $(ChokuRomUri)
      LOG_FILE: $(Build.ArtifactStagingDirectory)/TestConsole.log
      DEVKITARM: $(Agent.BuildDirectory)/devkitpro/devkitARM
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: $(Build.ArtifactStagingDirectory)
      ArtifactName: MacTestArtifacts
      publishLocation: Container
    displayName: Publish macOS Test Artifacts
    condition: always()
# - job:
#   displayName: UI Tests (Windows)
#   pool:
#     name: LoopyPool
#     demands:
#       - Agent.OS -equals Windows_NT
#   steps:
#   - checkout: self
#     clean: true
#   - pwsh: |
#       Remove-Item -Path $env:USERPROFILE\SerialLoops\Logs\SerialLoops.log
#     displayName: Delete SL logs if they exist
#     continueOnError: true
#   - task: DotNetCoreCLI@2
#     inputs:
#       command: 'build'
#       projects: $(Build.SourcesDirectory)/src/SerialLoops.Wpf/SerialLoops.Wpf.csproj
#     displayName: Build SerialLoops.Wpf
#   - task: DotNetCoreCLI@2
#     inputs:
#       command: 'build'
#       projects: $(Build.SourcesDirectory)/test/ui/SerialLoops.Wpf.Tests/SerialLoops.Wpf.Tests.csproj
#     displayName: Build SerialLoops.Wpf.Tests
#   - task: Docker@2
#     displayName: Pull devkitpro/devkitarm in advance
#     inputs:
#       command: pull
#       arguments: devkitpro/devkitarm
#   - task: ms-autotest.screen-resolution-utility-task.screen-resolution-utlity-task.ScreenResolutionUtility@1
#     displayName: 'Set Screen Resolution'
#     inputs:
#       displaySettings: specific
#       width: 2048
#       height: 1536
#   - task: VSTest@3
#     displayName: 'VsTest - Run UI Tests'
#     inputs:
#       testAssemblyVer2: |
#         **\*SerialLoops.Wpf.Tests.dll
#         !**\obj\**
#       uiTests: true
#     env:
#       APP_LOCATION: $(Build.SourcesDirectory)\src\SerialLoops.Wpf\bin\Debug\net8.0-windows\SerialLoops.exe
#       PROJECT_NAME: WinUITest
#       WINAPPDRIVER_LOC: 'C:\Program Files (x86)\Windows Application Driver\WinAppDriver.exe'
#       ROM_URI: $(ChokuRomUri)
#       LOG_FILE: $(Build.ArtifactStagingDirectory)/TestConsole.log
#   - task: PublishBuildArtifacts@1
#     inputs:
#       PathtoPublish: $(Build.ArtifactStagingDirectory)
#       ArtifactName: WindowsTestArtifacts
#       publishLocation: Container
#     displayName: Publish Windows Test Artifacts
#     condition: always()